/* loginFrom.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: white;
    padding: 30px; /* Ajuste del padding */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ancho máximo */
    margin: 0 20px; /* Margen lateral para evitar que se pegue a los bordes */
    display: flex;
        flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    flex: 1 0 ;
}

.input-box input {
    width: 100%;
    padding: 12px 40px; /* Aumento de padding para un mejor aspecto */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

button {
    width: 100%;
    padding: 12px; /* Aumento de padding */
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Color azul para el botón */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}

/* Media Queries */
@media (max-width: 480px) {
    .formulario {
        padding: 20px; /* Ajuste del padding para pantallas pequeñas */
        
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }

    .input-box input {
        font-size: 14px;
        padding: 10px 30px; /* Ajuste del padding */
    }
}
